#gameContainer{
    grid-template-columns: repeat(16, 1fr);
    border-style: ridge;
    margin-top: 15px;
    width: 600px;
    height: 600px;
    margin-left: 425px;
    display: grid;
}

.innerSquares{
    transition: background-color 0s;
    transition-delay: 500s;
    background-color; rgb(233,233,233);
}

.innerSquares:hover{
    background-color: black;
    transition:background-color;
    transition-delay: 0s;
}

.base{
    background-color: rgb(233, 233, 233)
}

.header{
    position: sticky;
    border-style: ridge;
    border-radius: 10px;
    padding-bottom: 6vh;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    text-align: center;
    z-index: 1;
}
.menu{
    border-style: ridge;
    top: 150px;
    margin-top: 15px;
    width: 25vw;
    padding-bottom: 50vh;
    float: left;
}




.slideContainer{
    width: 100%;
}

.slider{
    -webkit-appearance: none;
    appearance: none;
    margin-left: 6px;
    width: 95%;
    height: 25px;
    background: #d3d3d3;
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 0.63);
    border-style:solid;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

#regenerateButton{
    margin-left: 7px;
}

